.example-ripple-container {
    cursor: pointer;
    text-align: center;
  
    width: 50%;
    height: 50%;
    line-height: 25rem;
    float: left;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
  
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;
  }
  
 