<div id="recupero">
    <mat-card>
        <p>
        <mat-card-title>RECUPERO PASSWORD</mat-card-title></p>
        <form autocomplete="off" [formGroup]="recupero">
            <p>
        <mat-form-field  appearance="fill" class="pieno" appearance="legacy">
        <input type="email" matInput name="email" placeholder="email" formControlName="email">
        </mat-form-field></p>
        <button mat-raised-button color="primary" (click)="submit()"class="pieno">Submit</button>
        
       </form>
        
    </mat-card>
    
    </div>